@model IEnumerable<dynamic>

@{
    ViewData["Title"] = $"{@ViewBag.Name}'s Courses";
}
<h4>Hello @ViewBag.Name!</h4>

<h2>Your Enrolled Courses</h2>

@if (Model != null && Model.Any())
{
    <table border="1" class="table">
        <thead>
            <tr>
                <th>Course ID</th>
                <th>Course Name</th>
                <th>Course Code</th>
                <th>Professor Name</th>
                <th>Quiz</th>
                <th>Attendance</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model)
            {
                <tr>
                    <td>@course.CourseId</td>
                    <td>@course.CourseName</td>
                    <td>@course.CourseCode</td>
                    <td>@course.ProfName</td>
                    <td><a class="btn btn-warning btn-outline-dark">Quiz</a></td>
                    <td><a class="btn btn-info btn-outline-dark" asp-controller="Attendances" asp-action="Attendance">Attendance</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>You are not enrolled in any courses!</p>
}